<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Drawing.Common" version="9.0.1" targetFramework="net481" />
  <package id="WPF-UI" version="4.0.2" targetFramework="net481" />
  <package id="WPF-UI.Abstractions" version="4.0.2" targetFramework="net481" />
  <package id="WPF-UI.Tray" version="4.0.2" targetFramework="net481" />
</packages>